<html>
    <head>
        <title>Donna's blog</title>
    </head>
    <h1>Whidbey Island</h1>
    <h2>Adventures and getaways for the whole family!</h2>
    <body>
        <em>Clinton, Langley, Freeland, Greenbank, Coupeville, Oak Harbor</em>
        <br />
        <p><strong>Great places to visit all year long!</strong></p>

        <div>
        <h3>Getting here:</h3>
        <ul><li><a href="http://www.wsdot.com/ferries/schedule/ScheduleDetailByRoute.aspx?route=muk-cl">Whidbey Island Ferries</a></li><li><a href="https://en.wikipedia.org/wiki/Deception_Pass_Bridge">Deception Pass Bridge</a></li></ul>
    	</div>
    	 
    </body>
</html>